<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Register</title>
</head>
<body>
    <nav>
        <h4><a href="/">Clark's Vans Service</a></h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card" style="width: 30rem;">
            <div class="card-header">
                Register Form
            </div>
            <div class="card-body">
                <form action="/auth/register" method = "POST">   
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name">
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                    </div>

                    <div class="form-group">
                        <label for="grad_year">Year of Graduation</label>
                        <select type="number" class="form-control" id="grad_year" name="grad_year">
                            <option value=>Select</option>
                            <option value=2022>Winter 2021/Summer 2022</option>
                            <option value=2023>Winter 2022/Summer 2023</option>
                            <option value=2024>Winter 2023/Summer 2024</option>
                            <option value=2025>Winter 2024/Summer 2025</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="email@clarku.edu" name="email">
                        <small id="email" class="form-text text-muted">Must be a Clark email</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="form-group">
                        <label for="password_confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                     </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

        {{#if message_fail }}
            <h4 class="alert alert-danger mt-4">{{message_fail}}</h4>
        {{/if}}
        {{#if message_success}}
            <h4 class="alert alert-success mt-4">{{message_success}}</h4>
        {{/if}}

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>



